* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #96deda, #37c9c1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.container {
    width: 500px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.counters {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

span {
    font-size: 15px;
    color: grey;
}

.charactersCounter,
.wordsCounter {
    width: 90px;
    height: 90px;
    background-color: #fff;
    padding: 30px;
    font-size: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

textarea {
    color: black;
    width: 90%;
    height: 50%;
    font-size: 20px;
    padding: 15px;
    outline: none;
    resize: none;
    background: rgb(250, 241, 241);
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}